<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skyrockit</title>
</head>

<body>
  <%- include('./partials/_navbar.ejs') %>
    <h1>Skyrockit </h1>
    <h1>a job application tracker</h1>
</body>

</html>